<!DOCTYPE html>

<html>
  <head>
    <title>
      Dealership App
    </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css'>
  </head>
  <body>
    <div class='container'>
      <!-- <header>
        <h1>Dealership App</h1>
      </header> -->
      <%= yield %>
    </div>
  </body>

</html>
